<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light">
  <div class="navbar-wrapper">
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item">
          <a href="{% url 'tasks:index' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
              class="pcoded-mtext">Dashboard</span></a>
        </li>
        <li class="nav-item">
          <a href="{% url 'tasks:worker-list' %}" class="nav-link "><span class="pcoded-micon"><i
              class="feather icon-align-justify"></i></span><span class="pcoded-mtext">All workers</span></a>
        </li>
        <li class="nav-item">
          <a href="{% url 'tasks:task-list' %}" class="nav-link "><span class="pcoded-micon"><i
              class="feather icon-align-justify"></i></span><span class="pcoded-mtext">All tasks</span></a>
        </li>
        <li class="nav-item">
          <a href="{% url 'tasks:position-list' %}" class="nav-link "><span class="pcoded-micon"><i
              class="feather icon-align-justify"></i></span><span class="pcoded-mtext">All position</span></a>
        </li>

        <li class="nav-item pcoded-menu-caption">
          <label>Pages</label>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
              class="pcoded-mtext">Authentication</span></a>
          <ul class="pcoded-submenu">
            <li><a href="/auth-signup.html" target="_blank">Sign up</a></li>
            <li><a href="/auth-signin.html" target="_blank">Sign in</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!-- [ navigation menu ] end -->